/* src/App.css */
/* body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
} */

/* html,
body,
#root { */
/* #root {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	width: 300px;
	height: 300px;
	padding: 25px;
} */

/* .App-header {
	display: flex;
	flex-direction: column;
	align-items: normal;
} */
